[submodule "docker"]
	path = docker
	url = https://github.com/NEWSLabNTU/autoware-build-images.git
[submodule "examples/autoware-0.45.1-amd64/autoware-debian-config"]
	path = examples/autoware-0.45.1-amd64/debian-overrides
	url = https://github.com/NEWSLabNTU/autoware-debian-config.git
[submodule "examples/autoware-2025.02-amd64/autoware-debian-config"]
	path = examples/autoware-2025.02-amd64/debian-overrides
	url = https://github.com/NEWSLabNTU/autoware-debian-config.git
