Source: ros-humble-test-cpp-pkg
Section: misc
Priority: optional
Maintainer: Test Maintainer <test@example.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-test-cpp-pkg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rclcpp, ros-humble-std-msgs
Description: Test C++ package for colcon2deb
